* {
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.main-content {
	width: 70%;
	margin: 0 auto;
}

/* Form section*/

.search-form {
	width: 100%;
	padding: 15px 0;
	text-align: right;
	margin-right: -15px;
}

.search-form input {
	width: 85%;
	padding: 5px;
}

.search-form button{
	padding: 5px;
	margin-left: -5px;
}
/*Slider section*/

.slider img {
	width: 100%;
	height: auto;
}

/*Navigation section*/
ul li {
list-style-type: none;
}

ul li a {
	text-decoration: none
	!important;
	color: #696969;
}

nav {
	width: 100%
}

nav ul li a{
	display: block;
	border-top: 1px solid #dcdcdc;
	padding: 7px 0;
	min-height: 30px;
	font-size: 8pt;
}

	nav ul li:hover a {
			color: #696969;
	}

	nav ul li ul li {
		/*display: none;*/
	}

	nav ul li:hover{
		background: #ccc;
	}

.selected {
	background: #ccc !important;
	
}

nav ul li:hover ul li {
	display: block;
	background: #f5f5f5;
}

nav ul li ul li a{
	padding-left: 30px;
}

nav ul li ul li:hover {
	background: #ccc;
}

nav ul li ul li:hover a {
	color: #696969;
}

/*Portfolio secion*/


/*Footer secion*/
footer {
	background: #363636;
	min-height: 100px;
}

.copyright {
	color: #fff;
	font-size: 10pt;
}

.social {
	text-align: right;
}

.copyright, .social {
	padding: 10px 0;
}



